* {
  box-sizing: border-box;
}
.container {width: 100%; margin: 0 auto;}
.row::after {content: ""; display: block; clear: both;}
.col {float: left; padding: 15px; border: 2px solid red; min-height: 80px;}